In [1]:
import os
import pandas as pd

notebook = 'cllassification.ipnyb'
path = os.path.dirname(os.path.abspath(notebook))+'/data/'
train_path = path+'classification_train.csv'
test_path = path+'classification_test.csv'

train = pd.read_csv(train_path)
test = pd.read_csv(test_path)
train.head()

         x1        x2  target
0  1.934224 -0.111822       1
1  1.767383 -0.976402       1
2  0.937101 -0.085633       1
3  1.340732  0.166960       1
4 -0.199901 -0.155204       1

In [4]:
#Constructing a trainframe with the variable types and missing values per column
consistency = pd.DataFrame({'columns' : train.columns,
                    'type': train.dtypes,
                    'missing' : train.isna().sum(),
                    'size' : train.shape[0],
                    'unique': train.nunique()})
consistency['percentage'] = round(consistency['missing'] / consistency['size'],2)
consistency

       columns     type  missing  size  unique  percentage
x1          x1  float64        0   670     670         0.0
x2          x2  float64        0   670     670         0.0
target  target    int64        0   670       2         0.0