In [9]:
import os
import pandas as pd

notebook = 'EDA.ipnyb'
path = os.path.dirname(os.path.abspath(notebook))+'/data/'
data_path = path+'eda_data.zip'

data = pd.read_json(eda_path)
data.head()

,directions,fat,date,categories,calories,desc,protein,rating,title,ingredients,sodium
0,"[1. Place the stock, lentils, celery, carrot, ...",7.0,2006-09-01 04:00:00+00:00,"[Sandwich, Bean, Fruit, Tomato, turkey, Vegeta...",426.0,None,30.0,2.500,"Lentil, Apple, and Turkey Wrap","[4 cups low-sodium vegetable or chicken stock,...",559.0
1,[Combine first 9 ingredients in heavy medium s...,23.0,2004-08-20 04:00:00+00:00,"[Food Processor, Onion, Pork, Bake, Bastille D...",403.0,This uses the same ingredients found in boudin...,18.0,4.375,Boudin Blanc Terrine with Red Onion Confit,"[1 1/2 cups whipping cream, 2 medium onions, c...",1439.0
2,[In a large heavy saucepan cook diced fennel a...,7.0,2004-08-20 04:00:00+00:00,"[Soup/Stew, Dairy, Potato, Vegetable, Fennel, ...",165.0,None,6.0,3.750,Potato and Fennel Soup Hodge,"[1 fennel bulb (sometimes called anise), stalk...",165.0
3,[Heat oil in heavy large skillet over medium-h...,NaN,2009-03-27 04:00:00+00:00,"[Fish, Olive, Tomato, Sauté, Low Fat, Low Cal,...",NaN,The Sicilian-style tomato sauce has tons of Me...,NaN,5.000,Mahi-Mahi in Tomato Olive Sauce,"[2 tablespoons extra-virgin olive oil, 1 cup c...",NaN
4,[Preheat oven to 350°F. Lightly grease 8x8x2-i...,32.0,2004-08-20 04:00:00+00:00,"[Cheese, Dairy, Pasta, Vegetable, Side, Bake, ...",547.0,None,20.0,3.125,Spinach Noodle Casserole,"[1 12-ounce package frozen spinach soufflé, th...",452.0

In [7]:
data.directions[0]

['1. Place the stock, lentils, celery, carrot, thyme, and salt in a medium saucepan and bring to a boil. Reduce heat to low and simmer until the lentils are tender, about 30 minutes, depending on the lentils. (If they begin to dry out, add water as needed.) Remove and discard the thyme. Drain and transfer the mixture to a bowl; let cool.',
 '2. Fold in the tomato, apple, lemon juice, and olive oil. Season with the pepper.',
 '3. To assemble a wrap, place 1 lavash sheet on a clean work surface. Spread some of the lentil mixture on the end nearest you, leaving a 1-inch border. Top with several slices of turkey, then some of the lettuce. Roll up the lavash, slice crosswise, and serve. If using tortillas, spread the lentils in the center, top with the turkey and lettuce, and fold up the bottom, left side, and right side before rolling away from you.']

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20130 entries, 0 to 20129
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   directions   20111 non-null  object
 1   fat          15908 non-null  float64
 2   date         20111 non-null  datetime64[ns, UTC]
 3   categories   20111 non-null  object
 4   calories     15976 non-null  float64
 5   desc         13495 non-null  object
 6   protein      15929 non-null  float64
 7   rating       20100 non-null  float64
 8   title        20111 non-null  object
 9   ingredients  20111 non-null  object
 10  sodium       15974 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(5), object(5)
memory usage: 1.7+ MB

In [10]:
data.desc[1]

'This uses the same ingredients found in boudin blanc, the classic French white sausage. Start two days before serving.'

In [11]:
data.categories[0]

['Sandwich',
 'Bean',
 'Fruit',
 'Tomato',
 'turkey',
 'Vegetable',
 'Kid-Friendly',
 'Apple',
 'Lentil',
 'Lettuce',
 'Cookie']

In [16]:
data.title.value_counts()

Pastry Dough                               28
Chicken Stock                              26
Turkey Giblet Stock                        20
Turkey Stock                               15
Simple Syrup                               15
                                           ..
Radish and Mushroom Salad with Parsley      1
Belly Acres' Better Burger                  1
Beef Tenderloin and Vegetable Pot Pies      1
Sour Cream and Herb Muffins                 1
Spritz Wreaths                              1
Name: title, Length: 17775, dtype: int64

In [19]:
#Constructing a dataframe with the variable types and missing values per column
consistency = pd.DataFrame({'columns' : data.columns,
                    'type': data.dtypes,
                    'missing' : data.isna().sum(),
                    'size' : data.shape[0]})
consistency['percentage'] = round(consistency['missing'] / consistency['size'],2)
consistency

                 columns                 type  missing   size  percentage
directions    directions               object       19  20130        0.00
fat                  fat              float64     4222  20130        0.21
date                date  datetime64[ns, UTC]       19  20130        0.00
categories    categories               object       19  20130        0.00
calories        calories              float64     4154  20130        0.21
desc                desc               object     6635  20130        0.33
protein          protein              float64     4201  20130        0.21
rating            rating              float64       30  20130        0.00
title              title               object       19  20130        0.00
ingredients  ingredients               object       19  20130        0.00
sodium            sodium              float64     4156  20130        0.21